<div class="form-template box">
    <h2 class="text-center">Log in</h2>
    <form method="post" action="/login">

        <div class="form-group mt-3">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"
                   value={{values.email}}>
            {{#each errors.email}}
                <small class="form-text error">{{this}}</small>
            {{/each}}

        </div>
        <div class="form-group mt-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            {{#each errors.password}}
                <small class="form-text error">{{this}}</small>
            {{/each}}
        </div>
        {{#each errors.loginError}}
            <small class="form-text error">{{this}}</small>
        {{/each}}
        <div class="text-center">
            <button type="submit" class="btn mt-5 mb-2">Login</button>

            <div>
                <small class="form-text text-muted">Don't have account yet? Sign up <a
                        href="/sign-up">here</a></small>
            </div>
        </div>
    </form>

</div>

