*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    font-size: 0.9rem;
    background-color: #e3e3e3;
}

@media (min-width: 600px){
    body {
        font-size: 1rem;
    }
}

img {
    display: block;
    max-width: 100%;
}

button {
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
}


/*---TYPOGRAPHY---*/

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

a {
    letter-spacing: 1px;
}

hr {
    width: 80%;
    margin: 0 auto 0.5em;
}

.box {
    border-radius: 10px;
    background-color: #f8f9fa;
    border-color: #bfbebe;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.form__create {
    width: 100%;
    max-width: 500px;
    padding: 1em 1em 1.5em;
    margin: 3em auto 2em;
}

.flex {
    display: flex;
}


@media (min-width: 800px) {
    .container-flex {
        display: flex;
        align-items: baseline;
    }
    .container-flex__item {
        width: 80%;
        margin: 0 auto;
    }
}




.transition {
    transition: all 0.3s ease-in-out;
}

.categories {
    width: 95%;
    max-width: 600px;
    margin: 2em auto 0;
}


@media (min-width: 500px) {
    .categories {
        display: flex;
        gap: 1em;
    }
}

.btn, .nav-btn {
    margin-bottom: 1em;
    padding: 0.3em 1em;
    color: #d6b8ff;;
    letter-spacing: 1px;
    background-color: #323232;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    transition: all 0.2s ease-in-out;
}

.btn:hover, .nav-btn:hover {
    background-color: #d6b8ff;
    color: #27292c;
}

@media (min-width: 700px) {
    .btn {
        margin-bottom: 0;
    }
}


/* ---NAVIGATION--- */
.nav, .navbar {
    display: block;
}

@media (min-width: 650px) {
    .nav, .navbar {
        display: flex;
    }
    .flex-item-2 {
        display: flex;
    }
}

.flex-item-1, .flex-item-2 {
    text-align: center;
    margin: 0 auto;
}

.nav-btn {
    font-size: 0.9rem;
    color: #f8f9fa;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #212529;
}

.nav-link {
    font-size: 0.9rem;
    color: #f8f9fa;
    letter-spacing: 1px;
}

.nav-link:hover {
    color: #d0abff;
    text-decoration: underline;
}


/* ---SIDEBAR--- */
.sidebar {
    min-height: 100%;
    max-height: 100%;
    position: fixed;
    width: 90%;
    max-width: 200px;
    padding: 0.5em;
    color: #f8f9fa;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 10;
    background-color: #27292c;
}

.sidebar button {
    margin-bottom: 2.5em;
}

.sidebar__title {
    font-size: 1.1rem;
    line-height: 32px;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
    margin-top: 2.5em;
}

.sidebar__category {
    width: 80%;
    margin: 0 auto;
    padding: 0.5em;
}

.icon {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.1);
}

.icon__cross:hover {
    color: red;
}


.margin-left {
    margin-left: 30px;
    transition: margin-left .5s;
}

@media (min-width: 850px) {
    .margin-left {
        margin-left: 200px;
    }
}



.categories__item {
    width: 80%;
    margin: 0 auto;
    padding: 0.5em;
    border-radius: 5px;
}

.categories__item a {
    color: #27292c;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.categories__item a:hover {
    color: #e4a6ff;
    font-size: 1.01rem;
}

.category__btn {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.1s ease-in-out;
}

.category__btn:hover {
    color: #d6b8ff;
}

.category__drop-down {
    display: none;
    cursor: pointer;
    margin-top: 0.5em;
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: #262b2f;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.dropdown-item {
    letter-spacing: 1px;
    color: #f8f9fa;
}

.item {
    width: 95%;
    max-width: 700px;
    margin: 0 auto;

}

.item h2 {
    text-align: center;
    margin-bottom: 0.5em;
}

.item table {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.item__clr {
    width: 25px;
    height: 25px;
}


.item-form {
    width: 100%;
    max-width: 300px;
    margin: 1em auto 0;
}

/* Selects all .item-forms direct children that are divs */
.item-form > div {
    margin-bottom: 1em;
}

.flex-container {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.flex-container__item {
    width: 100%;
}


.dropDownVisible {
    display: block;
}

.rotateIcon {
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg);
}

.chat-container {
    width: 100%;
    max-width: 300px;

    position: fixed;
    bottom: 0;
    right: 2em;
    border: 1px solid #a1a1a1;
}


.chat-container__open {
    max-height: 500px;
    min-height: 500px;
}

.chat-bot {
    display: none;
}

.chat-bot__open {
    display: block;
}

.toggle-chat-bot {
    background-color: cornflowerblue;
    font-weight: bolder;
    margin-bottom: 0;
    min-height: 100%;
}

.toggle-chat-bot:hover {
    color: #f8f9fa;
}

.bolder_font {
    font-weight: bolder;
    color: #d6b8ff;
}



