*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    font-size: 0.9rem;
    background-color: #e3e3e3;
}

@media (min-width: 600px) {
    body {
        font-size: 1rem;
    }
}

img {
    display: block;
    max-width: 100%;
}

button {
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
}
/*
nav {
    padding: 2em;
    gap: 2em
}*/

nav {
    margin: 0 auto;
    padding: 2em;
}

/* --- TYPOGRAPHY --- */

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

a {
    letter-spacing: 1px;
}

hr {
    width: 80%;
    margin: 0 auto 0.5em;
}

.error {
    background-color: #ff8888;
}

/* --- GENERAL --- */
.box {
    border-radius: 10px;
    background-color: #f8f9fa;
    border-color: #bfbebe;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

/* Cube that holds stuffed animals color */
.clr-box {
    width: 25px;
    height: 25px;
}

/* Universal form styles */
.form-template {
    width: 100%;
    max-width: 400px;
    padding: 1em 1em 1.5em;
    margin: 3em auto 2em;
}

.flex {
    display: flex;
}

/* Used in forms when two inputs are in the same row */
.row-item {
    width: 100%;
}

.row-item + .row-item {
    margin-left: 1em
}


@media (min-width: 800px) {
    .container-flex {
        display: flex;
        align-items: baseline;
    }

    .container-flex__item {
        width: 80%;
        margin: 0 auto;
    }
}

.margin-left {
    margin-left: 35px;
    transition: margin-left .5s;
}

@media (min-width: 400px) {
    .margin-left {
        margin-left: 50px;
    }
}

/* --- BUTTONS --- */
.btn, .nav-btn {
    margin-bottom: 1em;
    padding: 0.3em 1em;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    transition: all 0.2s ease-in-out;
}

.btn {
    color: #27292c;
    background-color: #d6b8ff;
}

.btn:hover {
    color: #d6b8ff;;
    background-color: #323232;
}


@media (min-width: 700px) {
    .btn {
        margin-bottom: 0;
    }
}

/* --- NAVIGATION --- */
.navbar {
    display: block;
}

.nav-icon__bars, .nav-icon__cross {
    color: #e3e3e3;;
    font-size: 1.4rem;
    cursor: pointer;
}

.nav-icon__cross {
    display: none;
}

.nav-btn {
    font-size: 0.9rem;
    color: #f8f9fa;
    text-decoration: none;
    background-color: #212529;
}

.nav-link, .nav-text {
    font-size: 0.9rem;
    color: #f8f9fa;
}

.nav-link:hover {
    color: #d0abff;
    text-decoration: underline;
}

.nav-btn:hover {
    color: #27292c;
    background-color: #d6b8ff;
}

/* In smaller screens navigation is only visible when this class is called on it */
.visible {
    display: block;
}

@media (min-width: 900px) {
    nav, .nav, .navbar {
        display: flex;
        justify-content: center;
        padding: 1em;
    }
}

/* --- SIDEBAR --- */
.sidebar {
    min-height: 100%;
    max-height: 100%;
    position: fixed;
    width: 40px;
    max-width: 200px;
    padding: 0.5em;
    color: #f8f9fa;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 10;
    background-color: #27292c;
}

@media (min-width: 400px) {
    .sidebar {
        width: 50px;
    }
}

#sidebar__content {
    visibility: hidden;
}

.sidebar__title {
    font-size: 1.1rem;
    line-height: 32px;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
    margin-top: 2.5em;
}

.sidebar__category {
    width: 80%;
    margin: 0 auto;
    padding: 0.5em;
}

.sidebar__category__btn {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.1s ease-in-out;
}

.sidebar__category__btn:hover {
    color: #d6b8ff;
}

/* Sidebar dropdown container and items */
.dropdown {
    display: none;
    cursor: pointer;
    margin-top: 0.5em;
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: #262b2f;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.dropdown-item {
    color: #f8f9fa;
}

.dropdown-visible {
    display: block;
}


/* --- ARROW AND CROSS ICONS ON SIDEBAR --- */
.icon {
    cursor: pointer;
    font-size: 20px;
}

.icon:hover {
    transform: scale(1.1);
}

.icon__cross:hover {
    color: red;
    transition: all 0.1s ease-in-out;

}

/* --- CATEGORIES PAGE --- */
.categories {
    width: 95%;
    max-width: 600px;
    margin: 2em auto 0;
}


@media (min-width: 500px) {
    .categories {
        display: flex;
        gap: 1em;
    }
}

.categories__item {
    width: 80%;
    margin: 0 auto;
    padding: 0.5em;
    border-radius: 5px;
}

.categories__item a {
    color: #27292c;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.categories__item a:hover {
    color: #e4a6ff;
    font-size: 1.01rem;
}


/* --- ITEM DETAILS PAGE --- */
.item {
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
}

.item table {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}


.rotate-icon {
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg);
}

.bolder_font {
    font-weight: bolder;
    color: #d6b8ff;
}

.transition {
    transition: all 0.3s ease-in-out;
}

/* --- CHAT BOT --- */
.chat-container {
    width: 100%;
    max-width: 300px;

    position: fixed;
    bottom: 0;
    right: 2em;
    border: 1px solid #a1a1a1;
}

.chat-container__open {
    max-height: 500px;
    min-height: 500px;
}

.chat-bot {
    display: none;
}

.chat-bot__open {
    display: block;
}

.toggle-chat-bot {
    background-color: cornflowerblue;
    font-weight: bolder;
    margin-bottom: 0;
    min-height: 100%;
}

.toggle-chat-bot:hover {
    color: #f8f9fa;
}




