/* --- INVENTORY TABLE ---  */

/* text above inventory table */
.info-txt {
    width: 100%;
    max-width: 600px;
}

.inventory-table {
    width: 95%;
    max-width: 800px;
    padding: 0;
}

/* Cube that holds stuffed animals color */
.clr-box {
    width: 20px;
    height: 20px;
}

@media (min-width: 400px) {
    .clr-box {
        width: 25px;
        height: 25px;
    }
}
