@import "navigation.css";
@import "sidebar.css";
@import "inventoryTable.css";
@import "categories.css";
@import "itemDetails.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    font-size: 0.9rem;
    background-color: #e3e3e3;
}

@media (min-width: 600px) {
    body {
        font-size: 1rem;
    }
}

img {
    display: block;
    max-width: 100%;
}

button {
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
}

nav {
    margin: 0 auto;
    padding: 2em;
}


/* --- TYPOGRAPHY --- */

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

h2 {
    font-size: 1.4rem;

}

@media (min-width: 400px) {
    h2 {
        font-size: 1.6rem;
    }
}

a {
    letter-spacing: 1px;
}

small {
    font-size: 0.7rem !important;
}

hr {
    width: 80%;
    margin: 0 auto 0.5em;
}

table {
    font-size: 0.8rem;
}

@media (min-width: 500px) {
    table {
        font-size: 0.9rem;
    }
}

.error {
    font-size: 0.7rem;
    color: #f64949;
    letter-spacing: 1px;
    padding: 0 1em;
    margin: 0.5em 0 0;
}

/* --- GENERAL --- */

.box {
    border-radius: 10px;
    background-color: #f8f9fa;
    border-color: #bfbebe;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

/* Universal form styles */
.form-template {
    width: 95%;
    max-width: 400px;
    padding: 1em 1em 1.5em;
    margin: 3em auto 2em;
}

.form-template h2 {
    font-size: 1.3rem;
}

.form-group input, .form-group label {
    font-size: 0.85rem;
}

@media (min-width: 400px) {
    .form-template h2 {
        font-size: 1.4rem;
    }

    .form-group input, .form-group label {
        font-size: 0.95rem;
    }
}

.flex {
    display: flex;
}

/* Used in forms when two inputs are in the same row */
.row-item {
    width: 100%;
}

.row-item + .row-item {
    margin-left: 1em
}

.container-flex {
    width: 95%;
    margin: 2em auto;
}

.container-flex__item {
    margin: 2em 0;
}

@media (min-width: 800px) {
    .container-flex__item {
        width: 80%;
        margin: 0 auto;
    }
}

.margin-left {
    transition: margin-left .5s;
}

@media (min-width: 400px) {
    .margin-left {
        margin-left: 30px;
    }
}

/* --- BUTTONS --- */
.light-btn {
    background-color: #d6b8ff;
    color: #27292c;
}

.light-btn:hover {
    background-color: #27292c;
    color: #d6b8ff;
}

.dark-btn {
    background-color: #27292C;
    color: #d6b8ff;
}

.dark-btn:hover {
    background-color: #d6b8ff;
    color: #27292c;
}

.dark-link-btn {
    background-color: rgb(43, 44, 47);
    color: #d6b8ff;
    font-weight: bolder;
}

.dark-link-btn:hover {
    color: #d6b8ff;
    text-decoration: underline;
    transform: scale(1.1);
}

.light-link-btn {
    background-color: #d6b8ff;
    color: #252424;
    font-weight: bolder;
}

.light-link-btn:hover {
    background-color: #27292c;
    color: #d6b8ff;
    text-decoration: underline;
    transform: scale(1.1);
}

.danger-btn {
    background-color: #343434;
    color: #fd7676;
}

.danger-btn:hover {
    background-color: #fd7676;
    color: #343434;
}


.btn, .nav-btn {
    margin-bottom: 1em;
    padding: 0.3em 1em;
    font-size: 0.9rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    transition: all 0.2s ease-in-out;
}

@media (min-width: 700px) {
    .btn {
        margin-bottom: 0;
    }
}

.bolder_font {
    font-weight: bolder;
    color: #d6b8ff;
}

.transition {
    transition: all 0.3s ease-in-out;
}

.pop-up-message {
    width: 90%;
    max-width: 325px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em 0;
    text-align: center;
    border: 10px solid #d6b8ff;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.88);
    -webkit-box-shadow: 3px 3px 12px 0 rgba(50, 50, 50, 0.45);
    -moz-box-shadow: 3px 3px 12px 0 rgba(50, 50, 50, 0.45);
    box-shadow: 3px 3px 12px 0 rgba(50, 50, 50, 0.45);
    transition: all 0.8s ease-in-out;
    opacity: 0;
    cursor: default;
}

.pop-up-message p {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

@keyframes slide-down-and-up {
    0% {
        opacity: 0;
        top: -10%;
    }
    25% {
        opacity: 1;
        top: 30%;
    }
    60% {
        opacity: 1;
        top: 30%;
    }
    100% {
        opacity: 0;
        top: -10%;
    }
}

.hidden {
    display: none;
}
.pop-up-message_animation {
    animation: slide-down-and-up 2500ms;
    opacity: 0;
}
