/* --- NAVIGATION --- */
.nav-icon-cont {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.nav-icon {
    width: 50px;
}


.user-greeting {
    color: #f8f9fa;
    letter-spacing: 1px;
}

@media (min-width: 950px) {
    .user-greeting {
        margin-right: 1em;
    }
}

.navbar {
    display: block;
}

.navbar-brand {
    font-size: 1.2rem;
    cursor: pointer;
}

.nav-btn {
    font-size: 0.8rem;
    color: #d0abff;
    text-decoration: none;
    background-color: #212529;
}

.nav-btn:hover {
    color: #27292c;
    text-decoration: underline;
    background-color: #d6b8ff;
}

.nav-link {
    font-size: 0.8rem;
    color: #f8f9fa;
}

.nav-link:hover {
    color: #d0abff;
    text-decoration: underline;
}

.nav-link:active {
    color: #d0abff;
}


/* In smaller screens navigation is only visible when this class is called on it */
.visible {
    display: block;
}

@media (min-width: 400px) {
    .nav-link, .nav-text, .nav-btn {
        font-size: 0.9rem;
    }
}

@media (min-width: 800px) {
    nav, .nav, .navbar {
        display: flex;
        justify-content: center;
        padding: 1em;
    }

    .navbar {
        padding: 1em 1em 1em 2em;
    }
}
