
/* --- SIDEBAR --- */
.sidebar {
    display: none;
}

@media (min-width: 400px) {
    .sidebar {
        display: block;
        min-height: 100%;
        max-height: 100%;
        width: 40px;
        max-width: 200px;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0.5em;
        color: #f8f9fa;
        background-color: #27292c;
        overflow-x: hidden;
        transition: 0.5s;
        z-index: 10;
    }
}

@media (min-width: 600px) {
    .sidebar {
        width: 50px;
    }
}

#sidebar__content {
    visibility: hidden;
}

.sidebar__title {
    font-size: 1.1rem;
    line-height: 32px;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
    margin-top: 2.5em;
}

.sidebar__category {
    width: 80%;
    margin: 0 auto;
    padding: 0.5em;
}

.sidebar__category__btn {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.1s ease-in-out;
}

.sidebar__category__btn:hover {
    color: #d6b8ff;
}

/* Sidebar dropdown container and items */
.dropdown {
    display: none;
    cursor: pointer;
    margin-top: 0.5em;
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: #262b2f;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.dropdown-item {
    color: #f8f9fa;
}

/* when user clicks the item */
.dropdown-item:active {
    color: #d0abff;
    background-color: initial;
}

.dropdown-visible {
    display: block;
}


/* --- ARROW AND CROSS ICONS ON SIDEBAR --- */
.icon {
    cursor: pointer;
    font-size: 20px;
    display: none;
}

@media (min-width: 400px) {
    .icon {
        display: block;
    }
}

.icon:hover {
    transform: scale(1.1);
}

.icon__cross:hover {
    color: red;
    transition: all 0.1s ease-in-out;
}

.rotate-icon {
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg);
}
